site
node_modules
mkdocs.yml
packwiz-spec

# Generated docs
docs/reference/commands/*
!docs/reference/commands/overview.md
docs/reference/pack-format/*
!docs/reference/pack-format/overview.md
!docs/reference/pack-format/packwizignore.md