name: Run build CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: "npm"
      - name: Setup Go environment
        uses: actions/setup-go@v2.1.4
        with:
          go-version: "^1.17.1"
      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: "3.8"
      - run: pip install -r requirements.txt
      - run: npm ci
      - run: npm run build
